@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary {
  @apply cursor-pointer h-[42px] flex items-center text-left leading-tight gap-[8px] rounded py-[10px] px-[20px] text-base font-medium text-white bg-blue-4;
  div{
      @apply flex gap-[8px] items-center;
  }
  &.stroke{
      @apply h-[32px] px-[12px];
      &.iconRight {
          @apply pr-[8px];
      }
      &.iconLeft {
          @apply pl-[8px];
      }
  }
  &:not(.stroke){
      &.iconRight {
          @apply pr-[14px]
      }
      &.iconLeft {
          @apply pl-[14px]
      }
  }
  &.success {
    @apply bg-[#039487];
    &:hover {
      background-color: lighten($color: #039487, $amount: 10)
    }
  }
  &.danger{
      @apply bg-red text-white;
      &:disabled {
          @apply bg-neutral-6;
  
          &:hover{
              @apply  bg-neutral-6;
          }
              }
      &:hover{
          @apply bg-red-dark;
      }
  }
  &:disabled {
      @apply bg-neutral-6;

      &:hover{
          @apply  bg-neutral-6;
      }
          }
  &:hover{
      @apply bg-blue-2;
  }
}

.secondary {
  @apply cursor-pointer h-[42px] flex items-center text-left leading-tight gap-[8px] py-[10px] px-[20px] rounded text-base font-medium text-blue-4 bg-neutral-9;
  div{
      @apply flex gap-[8px] items-center;
  }
  &.stroke{
      @apply h-[32px] px-[12px];
      &.iconRight {
          @apply pr-[8px];
      }
      &.iconLeft {
          @apply pl-[8px];
      }
  }
  &:not(.stroke){
      &.iconRight {
          @apply pr-[14px]
      }
      &.iconLeft {
          @apply pl-[14px]
      }
  }
  &.danger{
      @apply  text-red;
  }
  &:disabled {
      @apply text-gray-0 bg-neutral-11;

      &:hover{
          @apply bg-neutral-11;
      }
  }
  &:hover{
      @apply  bg-neutral-7;
  }
}

.tertiary {
  @apply cursor-pointer flex items-center text-center leading-tight tracking-normal h-[42px] gap-[8px] rounded py-[14px] px-[0px] text-base font-medium text-blue-4;
  div{
      @apply flex gap-[8px] items-center;
  }
  &.stroke{
      @apply h-[32px];
  }
  &.danger{
      @apply  text-red;
      &:hover{
          @apply underline decoration-red;
      }
  }
  &:disabled {
      @apply text-gray-0;

      &:hover{
          @apply text-gray-0 no-underline;
       } 
  }
  &:hover{
     @apply underline decoration-blue-4
  }
}

.text-input {
    @apply border-solid border-[1px] py-[12px] px-[8px] flex flex-row text-base gap-[8px] rounded-[4px]
        w-full h-full placeholder:text-sm placeholder:leading-[1.14] placeholder:text-neutral-6 border-neutral-7 focus:border-primary;
    &:focus-visible {
        @apply border-[#2054FF] outline-0 #{"!important"};
    }
}

.select-input {
    @apply border-solid border-[1px] py-[12px] px-[8px] flex flex-row text-base gap-[8px] rounded-[4px]
        w-full h-full placeholder:text-sm placeholder:leading-[1.14] placeholder:text-neutral-6 border-neutral-7 focus:border-primary;
    &:focus-visible {
        @apply border-[#2054FF] outline-0 #{"!important"};
    }
}

.layout-height {
  height: calc(100vh - 60px);
}
.toggle-side-nav {
  height: calc(100vh - 60px);
}

.menu-toggler-icon {
  visibility: hidden;
  width: 0;
}
.grid-ui {
    tr:nth-child(odd) td {
      @apply bg-white #{"!important"};
    }
    tr:nth-child(even):not(.subHeader) td {
      @apply bg-neutral-11 #{"!important"};
    }
    .activeFilter {
      @apply bg-neutral-7 #{"!important"};
    }
    &.selectable {
      tr>th:nth-child(2) {
        @apply sticky left-[25px] bg-white;
      }
      tr>td:nth-child(2) {
        @apply sticky left-[25px];
      }
      .subHeader {
        td {
          @apply bg-neutral-9;
        }
      }
    }
  }
  
.highlight-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Slightly larger, softer shadow */
              0 2px 4px rgba(0, 0, 0, 0.1);  /* Smaller, sharper shadow */
  border-radius: 8px; /* Optional: rounds the corners */
  padding: 16px; /* Optional: adds padding inside the box */
  background-color: #fff; /* Optional: sets a background color */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.highlight-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), /* Slightly larger, softer shadow on hover */
              0 4px 8px rgba(0, 0, 0, 0.2);  /* Smaller, sharper shadow on hover */
}

.toggle-content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

@media (max-width: 640px) {
  .side-nav {
    visibility: hidden;
    width: 0 !important;
  }
  .menu-toggler-icon {
    visibility: visible;
    width: 24px;
  }
}

